{
	"absBase64Code":"",
	"appId":"ALIPUB2662D30260941",
	"appKey":"ALIPUB2662D30260941_HARMONY",
	"base64Code":"",
	"packageName":"com.mianhuaguo.app",
	"rootPath":"mpaas/harmony/ALIPUB2662D30260941-default",
	"shBase64Code":"",
	"v6Base64Code":"",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://mrtc.mpaas.cn-hangzhou.aliyuncs.com/ws",
	"mdc":"https://mdc.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"yj+NC7OKUfVqMd+LNK61HZ1Y3CBPYooeTB7oN79Gl4oUEgmEnTQoImblzbJWKr3UOVGio9oSnCR8Ibcqqc/oQLHZUE5+ocAOh6NEeuL9pnkuVlZnahHGQKwsHrsHiLDzSFfiiCul2TCstqEeyBlhy4HxbXBHUz+0EYzIh8hI5tOqHiY32wNBXFUzgwFA477v04f5o+zMIfSCABR25iXTdtltAFkhM9gPg1pIqHpwCPrZNd5kR5R68ZIXqdiYE7fVdF3RE9QqbpGTPnhnyOOoTVRMefxzOdBvwHee9kJFqFZxp+PmiQuBuPFsNpBgVZB6hrgkfpIqAc4LWFbg5JyWrQ=="
}